* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
}

.App {
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 15px;
}

label,
input,
button,
textarea {
  max-width: 100%;
  display: block;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.checkbox {
  width: 15px;
}

form {
  flex: 1;
}

li {
  list-style: none;
}

fieldset {
  word-wrap: break-word;
}

button {
  background: linear-gradient(90.41deg, #261f8d 1.14%, #4218da 100%);
  color: antiquewhite;
  margin: 10px 0 0 5px;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

input[type="checkbox"] {
  display: inline;
}

.done {
  text-decoration: line-through;
}

.line-break {
  height: 100vh;
  width: 5px;
  margin: 0 10px 0 10px;
  background-color: rgb(0, 242, 218);
}

textarea {
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.newsletter {
  display: inline;
}

.btn {
  width: 100%;
  text-align: center;
}