* {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label,
input,
button,
textarea {
  width: 250px;
  display: block;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.checkbox {
  width: 10px;
}

form {
  flex: 1;
}

li {
  list-style: none;
}

fieldset {
  margin: 20px;
  word-wrap: break-word;
}

button {
  background-color: cyan;
}

input[type="checkbox"] {
  display: inline;
}

.done {
  text-decoration: line-through;
}

.line-break {
  height: 100vh;
  width: 5px;
  background-color: #048ba9;
}

textarea {
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.employee {
  display: inline;
}
